{% extends 'base.html' %}

{% block base_content %}
<div class="container" style="max-width: 750px;">
    {% if validlink %}
        <h2>Change password</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
        {% else %}
        <h2>Invalid Link</h2>
        <hr>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}
