/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

a#profile {
	color: #9d9d9d;
	margin-top: 5px; 
	background-color: transparent;
}

a#profile:hover {
	color: #fff;
}

form#place-bets-form input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


form#place-bets-form input#id_bet {
    width: 90%;
}

form#place-bets-form input#id_qty_allowed {
    width: 100px;
}

form#place-bets-form input#id_bet_amount {
    width: 100px;
}
