/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

a#profile {
	color: #9d9d9d;
	margin-top: 5px; 
	background-color: transparent;
}

a#profile:hover {
	color: #fff;
}
