{% extends "squares_base.html" %}

{% block extra_head %}
{% endblock %}

{% block base_content %}
<div class="container">
    <h1>Admin Squares!</h1>
    <button class='btn btn-success'>New Game</button>

    <div class="container">
        <h3>Active Squares</h3>
        <p>These are all the open squares games that have not been marked as
        "complete" by the admin".

                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Team A</th>
                        <th>Team B</th>
                        <th>PPS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="v-center-square">
                        <th scope="row"><button class="btn btn-primary">View</button></th>
                            <td>Clemson</td>
                            <td>Uscjr</td>
                            <td>$1</td>
                    </tr>
                    <tr>
                        <th scope="row"><button class="btn btn-primary">View</button></th>
                            <td>Clemson</td>
                            <td>Uscjr</td>
                            <td>$1</td>
                    </tr>
                    </tbody>
                </table>
    </div>

    <div class="container">
        <h3>Closed Squares</h3>
        {% if all_closed_squares %}
            <p>These are all the games that have already completed and have
            winners marked.</p>
        {% else %}
            <p>Exactly zero closed squares games. We must just be getting started.</p>
            <p>Let's try to create a sample squares view, because I don't feel
            like doing anything hard while drinking woodford on a plane.</p>

                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Team A</th>
                        <th>Team B</th>
                        <th>PPS</th>
                        <th>Shits</th>
                        <th>Q1,Q2,Q3,Q4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="v-center-square">
                        <th scope="row"><button class="btn btn-warning">Undo</button></th>
                            <td>Clemson</td>
                            <td>Uscjr</td>
                            <td>$1</td>
                            <td>Josh P, Kris J, John T</td>
                            <td>Matt S, Bobby C, Brandon B, Grey P</td>
                    </tr>
                    <tr>
                        <th scope="row"><button class="btn btn-warning">Undo</button></th>
                            <td>Clemson</td>
                            <td>Uscjr</td>
                            <td>$1</td>
                            <td>Josh P, Kris J, John T</td>
                            <td>Matt S, Bobby C, Brandon B, Grey P</td>
                    </tr>
                    </tbody>
                </table>

        {% endif %}
    </div>

</div>

{% endblock %}

{% block morejs %}
{% endblock %}
