{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block base_content %}

  <div class="container">
  {% if user.is_authenticated %}
    <h3>You're already logged in as {{ user.get_full_name }}.</h3>
  {% else %}
	  <h2>Sign Up</h2>
	<form class="form-horizontal" method="post">{% csrf_token %}
	    <fieldset>
	    <p>All fields are required.</p>
		<legend>{{ title }}</legend>
		{% for field in form %}
		    {% if field.errors %}
			<div class="control-group error">
			    <label class="control-label">{{ field.label }}</label> 
			    <div class="controls">{{ field }}
				<p class="help-inline text-danger">
				    {% for error in  field.errors %}<strong>{{ error }}</strong>{% endfor %}
				</p>
			    </div>
			</div>
		    {% else %}
			<div class="control-group">
			    <label class="control-label">{{ field.label }}</label> 
			    <div class="controls">{{ field }}
				{% if field.help_text %}
				    <p class="help-inline"><small>{{ field.help_text }}</small></p>
				{% endif %}
			    </div>
			</div>
		    {% endif %}
		{% endfor %}
	    </fieldset>
	    <br/>
	    <div class="form-actions">
		<button type="submit" class="btn btn-primary" >Sign Up</button>
	    </div>
	</form>

  {% endif %}
  </div>

{% endblock %}
