{% extends 'base.html' %}

{% block title %}Account Settings{% endblock %}

{% block base_content %}

<div class="container">
	<h2>Your Profile</h2>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#user-profile">Profile</a></li>
	  <li><a data-toggle="tab" href="#user-messages">Messages</a></li>
	  <li><a data-toggle="tab" href="#user-stats">Stats</a></li>
	</ul>

	<div class="tab-content">
		<div id="user-profile" class="tab-pane fade in active">
			<br/>
			<form class="form-horizontal" method="post">{% csrf_token %}
				<div class="control-group">
					<label class="control-label">First Name</label>
					<div class="controls">
						<input id="first-name" name="first_name" type="text" placeholder="{{ user.first_name }}" value="{{user.first_name}}" class="input-xlarge" disabled> 
							<p class="help-block"></p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Last Name</label>
					<div class="controls">
						<input id="first-name" name="last_name" type="text" placeholder="{{ user.last_name }}" value="{{ user.last_name }}" class="input-xlarge" disabled> 
							<p class="help-block"></p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<input id="first-name" name="last_name" type="text" placeholder="{{ user.email }}" value="{{ user.email }}" class="input-xlarge" disabled> 
							<p class="help-block"></p>
					</div>
				</div>
			</form>
  		</div>

		<div id="user-messages" class="tab-pane fade">
			<br/>
			<p>Nothing to see here, yet.</p>
		</div>

		<div id="user-stats" class="tab-pane fade">
			<br/>
			<p>Nothing to see here, yet.</p>
		</div>
	</div>
</div>

{% endblock %}
