{% extends 'base.html' %}

{% block title %}Account Settings{% endblock %}

{% block base_content %}

<div class="container">
	<h2>Your Profile</h2>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#user-profile">Profile</a></li>
	  <li><a data-toggle="tab" href="#user-stats">Stats</a></li>
	</ul>

	<div class="tab-content">
		<div id="user-profile" class="tab-pane fade in active">
			<br/>
			<div "container">
				<form class="form-horizontal" id="profile-form" method="post" action="">{% csrf_token %}
					{{ user_form.as_p }}
					{{ user_profile_form.as_p }}
					<br/>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" >Save</button>
					</div>
				</form>
			</div>
  		</div>

		<div id="user-stats" class="tab-pane fade">
			<br/>
			<div class="container col-md-4">
				<table class="table table-striped table-condensed">
					<tbody>
						<tr>
						<td>Current Balance:</td> 
												<td>
												{% if user.userprofile.current_balance < 0 %}
													<font color="red">-${{ user.userprofile.current_balance|stringformat:"+d"|slice:"1:" }}</font>
												{% elif user.userprofile.current_balance > 0 %}
													<font color="green">${{ user.userprofile.current_balance }}</font>
												{% else %}
													${{ user.userprofile.current_balance }}
												{% endif %}	
												</td>
						</tr>
						<tr>
						<td>Overall Winnings:</td>
												<td>
												{% if user.userprofile.overall_winnings < 0 %}
													<font color="red">-${{ user.userprofile.overall_winnings|stringformat:"+d"|slice:"1:" }}</font>
												{% elif user.userprofile.overall_winnings > 0 %}
													<font color="green">${{ user.userprofile.overall_winnings }}</font>
												{% else %}
													${{ user.userprofile.overall_winnings }}
												{% endif %}	
												</td>
						<tr><td>Wins:</td><td>{{ total_won_bets }}</td></tr>
						<tr><td>Losses:</td><td>{{ total_loss_bets }}</td></tr>
						<tr><td>Ties:</td><td>{{ total_tie_bets }}</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
