{% extends "base.html" %}

{% block base_content %}

    <div class="container">
        <h1>My Bets</h1>

		<div class="container">
			<h3>Your Open Bets</h3>
			{% if your_open_bets %}
				<table class="table table-striped table-bordered">
					<thead>
					  <tr>
						<th>Prop Bet</th>
						<th>Wager</th>
						<th>Max Bets</th>
						<th>Remaining Bets</th>
						<th>End Date</th>
					  </tr>
					</thead>
					<tbody>
					{% for bet in your_open_bets %}
						<tr>
							<td>{{ bet.prop_text }}</td>
							<td>${{ bet.prop_wager }}</td>
							<td>{{ bet.max_wagers }}</td>
							<td>{{ bet.remaining_wagers }}</td>
							<td>{{ bet.end_date }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
			<p>You don't have any open bets. Step right up and <a href="#place_bets" data-toggle="modal">place a bet.</a></p>
			{% endif %}
		</div>
		<div class="container">
			<h3>Your Active Bets</h3>
			{% if your_active_bets %}
				<table class="table table-striped table-bordered">
					<thead>
					  <tr>
						<th>Proposer</th>
						<th>Proposee</th>
						<th>Prop Bet</th>
						<th>Wager</th>
					  </tr>
					</thead>
					<tbody>
					{% for bet in your_active_bets %}
						<tr>
							<td>{{ bet.accepted_prop.user.get_full_name }}</td>
							<td>{{ bet.accepted_user.get_full_name }}</td>
							<td>{{ bet.accepted_prop.prop_text }}</td>
							<td>${{ bet.accepted_prop.prop_wager }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
			<p>You don't have any active bets. How about accepting some <a href="/bets/open_bets">open bets?</a></p>
			{% endif %}
		</div>
    </div>
{% endblock %}

